.navigate {
    background-color: rgb(24, 142, 244);
    min-width: 100%;
    height: 50px;
}

.WrapperNav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.WrapperNav a {
    text-decoration: none;
    color: white;
    padding: 15px 5px;
    font-size: 15px;
}
.dropbtn {
    background-color: rgb(24, 142, 244);
    color: white;
    padding: 15px 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 350px;
    background-color: #ffffff;
    z-index: 2;
}

.dropdownContent a {
    color: black;
    font-size: 13px;
    padding: 5px 3px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block;}

.dropdown:hover .dropbtn {background-color: #bbbbbb;}
.WrapperNav a:hover {background-color: #bbbbbb;}

.burgerIcon {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 1em;
}


@media screen and (max-width: 950px) {
    .WrapperNav {
        display: none; 
    }
    .burgerIcon {
        display: flex;
    }  
}